name: Deploy Backend

on:
  push:
    branches:
      - main
    paths:
      - backend/**
      - '!backend/**/*.md'
      - '!backend/**/.gitignore'
      - .github/workflows/deploy_backend.yml

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: "4.53.0"
          workingDirectory: "backend"