name: Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - frontend/**
      - shared/**
      - '!frontend/**/*.md'
      - '!frontend/**/.gitignore'
      - .github/workflows/deploy_frontend.yml

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build with Arch Linux
        uses: docker/build-push-action@v6
        with:
          context: .
          file: frontend/Dockerfile
          push: false
          outputs: type=local,dest=./output

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: "4.53.0"
          command: pages deploy output/dist --project-name=verwatch
